{{- if .Values.ui.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "modelfs.fullname" . }}-ui
  namespace: {{ .Values.namespace.name }}
spec:
  replicas: {{ .Values.ui.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "modelfs.fullname" . }}-ui
  template:
    metadata:
      labels:
        app: {{ include "modelfs.fullname" . }}-ui
    spec:
      serviceAccountName: {{ default (printf "%s-ui" (include "modelfs.name" .)) .Values.ui.serviceAccount.name }}
      containers:
        - name: ui-server
          image: {{ if .Values.ui.image.registry }}{{ .Values.ui.image.registry }}/{{ end }}{{ .Values.ui.image.repository }}:{{ .Values.ui.image.tag }}
          imagePullPolicy: {{ .Values.ui.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.ui.service.port }}
          env:
            - name: UI_SERVER_NAMESPACE
              value: {{ .Values.namespace.name | quote }}
            - name: UI_SERVER_ADDR
              value: ":{{ .Values.ui.service.port }}"
            {{- range $e := .Values.ui.extraEnv }}
            - name: {{ $e.name }}
              value: {{ $e.value | quote }}
            {{- end }}
{{- end -}}

