---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumes
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - get
  - list
  - update
- apiGroups:
  - dataset.baizeai.io
  resources:
  - datasets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dataset.baizeai.io
  resources:
  - datasets/finalizers
  verbs:
  - update
- apiGroups:
  - dataset.baizeai.io
  resources:
  - datasets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - model.samzong.dev
  resources:
  - models
  - modelsources
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - model.samzong.dev
  resources:
  - models/finalizers
  - modelsources/finalizers
  verbs:
  - update
- apiGroups:
  - model.samzong.dev
  resources:
  - models/status
  - modelsources/status
  verbs:
  - get
  - patch
  - update
