kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: modelfs
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            authorization-mode: AlwaysAllow
    extraPortMappings:
      - containerPort: 32080
        hostPort: 32080
        protocol: TCP
  - role: worker
